[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
	shallow = true
[submodule "third_party/glad"]
	path = third_party/glad
	url = https://github.com/Dav1dde/glad.git
	shallow = true
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
	shallow = true
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true
